{% extends 'blogs/base.html' %}

{% block content %}
  <h1>{{blog}}</h1>
  <p>{{blog.description}}</p>
  <p>By {{blog.owner}}</p>
  {% if blog.owner == user %}
    <a href="{% url 'blogs:edit_blog' blog.id %}">Edit blog</a>
  {% endif %}
  <h2>Blog posts:</h2>
  <ul>
    {% for post in posts %}
      <li>
        <p>{{post.date_added|date:'M d, Y'}}</p>
        <p><a href="{% url 'blogs:post' post.id %}">{{post.title}}</a></p>
      </li>
    {% empty %}
      <li>No posts have been created yet.</li>
    {% endfor %}
  </ul>
  {% if blog.owner == user %}
    <a href="{% url 'blogs:new_post' blog.id %}">Add post</a>
  {% endif %}
{% endblock content %}